<aside class="sidebar">
  <h1 class="title">Crear Donacion</h1>

  <div class="treatment-container">
    <p *ngIf="!donation?.charity_id && !donation?.medications" class="empty-message">
      La donacion está vacía
    </p>

    <div *ngIf="donation?.charity_id || donation?.medications?.length" class="treatment-details">
      <app-resumen-donante
        [donante]="{charityId: donation?.charity_id!, charityName : donation?.charityName!}"
        (deleteCharity)="deleteCharity()"
      ></app-resumen-donante>

      <ng-container *ngFor="let medicine of donation?.medications">
        <app-resumen-medicina
          [medicine]="medicine"
          (medicineDeleted)="onMedicineDeleted(+$event)"
          (quantityIncreased)="onQuantityIncreased(+$event)"
          (quantityDecreased)="onQuantityDecreased(+$event)">
        </app-resumen-medicina>
      </ng-container>
    </div>

    <form class="treatment-form" *ngIf="donation?.charity_id  && donation?.medications && donation?.medications?.length">
      <input
        type="text"
        placeholder="Descripcion"
        class="name-input"
        name="name"
      />
      <input
        type="submit"
        class="submit-button"
        value="Confirmar Tratamiento"
      />
    </form>
  </div>
</aside>
