<aside class="sidebar">
  <h1 class="title">Crear Donacion</h1>

  <div class="treatment-container">
    <p *ngIf="!donation?.charity_id && !donation?.medications" class="empty-message">
      La donacion está vacía
    </p>

    <div *ngIf="donation?.charity_id || donation?.medications?.length" class="treatment-details">
      <app-resumen-donante
        [donante]="{charityId: donation?.charity_id!, charityName : donation?.charityName!}"
        (deleteCharity)="deleteCharity()"
      ></app-resumen-donante>

      <ng-container *ngFor="let medicine of donation?.medications">
        <app-card-medicamento-with-date
          [medicine]="medicine"
          (medicineDeleted)="onMedicineDeleted(+$event)"
          (quantityIncreased)="onQuantityIncreased(+$event)"
          (quantityDecreased)="onQuantityDecreased(+$event)"
          (dateChanged)="onDateChanged(+$event.id, $event.newDate)"
        >

        </app-card-medicamento-with-date>
      </ng-container>
    </div>

    <form class="treatment-form" *ngIf="donation?.charity_id && donation?.medications && donation?.medications?.length" (ngSubmit)="submitForm($event, descriptionInput)">
      <input
        type="text"
        placeholder="Descripción"
        class="name-input"
        name="name"
        #descriptionInput
      />
      <button type="submit" class="submit-button">Confirmar Tratamiento</button>
    </form>
  </div>
</aside>
