<div class="container">
  <div class="flowRoot">
    <div class="tableWrapper">
      <div class="tableContainer">
        <table>
          <thead>
            <tr>
              <th *ngFor="let header of headers">{{ header | titlecase }}</th>
              <th class="actions">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td *ngFor="let header of headers">{{ item[header] }}</td>
              <td class="actions">
                <button class="edit" (click)="edit.emit(item)">Editar</button>
                <button class="delete" (click)="delete.emit(item)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
