<aside class="sidebar">
  <h1 class="title">Tratamiento</h1>

  <div class="treatment-container">
    <p class="empty-message">El Tratamiento está vacío</p>

    <div class="treatment-details">

      <p>Nombre: carlos</p>

      <app-resumen-medicina></app-resumen-medicina>


    </div>

    <form action="handleSubmit" class="treatment-form">
      <input
        type="text"
        placeholder="Observaciones"
        class="name-input"
        name="name"
      />
      <input
        type="submit"
        class="submit-button"
        value="Confirmar Tratamiento"
      />
    </form>
  </div>
</aside>
