<aside class="sidebar">
  <h1 class="title">Mi Tratamiento</h1>

  <div class="treatment-container">
    <p class="empty-message">El Tratamiento está vacío</p>

    <div class="treatment-details">

      <div class="treatment-details-item">
        <p>Detalles del Tratamiento 1</p>
      </div>
      <div class="treatment-details-item">
        <p>Detalles del Tratamiento 2</p>
      </div>

    </div>

    <form action="handleSubmit" class="treatment-form">
      <input
        type="text"
        placeholder="Observaciones"
        class="name-input"
        name="name"
      />
      <input
        type="submit"
        class="submit-button"
        value="Confirmar Tratamiento"
      />
    </form>
  </div>
</aside>
