<app-h1 title="Crear Comunidad"></app-h1>
<app-card title="Crear Comunidad">
  <div class="container">
    <form [formGroup]="userForm">
      <app-input-text label="Nombre" formControlName="name"></app-input-text>
      <app-input-text label="Descripción" formControlName="description" type="textarea"></app-input-text>
      <app-btn (click)="edit ? updateComunidad() : onSaveComunidad()">Crear</app-btn>
    </form>
  </div>
</app-card>



<!-- <app-card title="Crear Comunidad">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-input-text [label]="'Nombre de la comunidad'" formControlName="nombre"></app-input-text>
    <app-input-number [label]="'numero de '" formControlName="numero"></app-input-number>
    <app-btn label="Crear" type="submit"></app-btn>
  </form>
</app-card> -->