<div class="container">
  <div class="flowRoot">
    <div class="tableWrapper">
      <div class="tableContainer">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre Categoria</th>
              <th>Creado el</th>
              <th>Editado el</th>
              <th class="actions">Acciones</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td class="actions">
                  <a  class=link>
                    Editar
                  </a>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
