<div class="medicine-card">
  <div class="medicine-content">
    <div class="medicine-header">
      <p class="medicine-name">acetaminofen marca asasasasalivet 500mg</p>
      <button type="button" class="delete-button" onclick="deleteMedicine(medicineId)">
        &times;
      </button>
    </div>

    <div class="medicine-quantity-controls">
      <button type="button" class="decrease-button" onclick="decreaseQuantity(medicineId)" disabled="false">
        -
      </button>
      <p class="medicine-quantity">1</p>
      <button type="button" class="increase-button" onclick="increaseQuantity(medicineId)" disabled="false">
        +
      </button>
  </div>
</div>
